body {
	background-image: $gradient;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $color_4;
	font-size: 18px;
	font-family: $font-family_3;
	text-decoration: none;
}

@mixin flexColumn{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
}

$estilosT: (
	shadowT: 2px 4px 8px,
	borderR: 10px,
	fontWgrande: 700,
	)